ARGYLE_API_KEY=
ARGYLE_API_SECRET=

NEXT_PUBLIC_ARGYLE_BASE_URL=https://api-sandbox.argyle.io/v1
NEXT_PUBLIC_ARGYLE_LINK_KEY=
NEXT_PUBLIC_ARGYLE_CUSTOMIZATION_ID=
NEXT_PUBLIC_ARGYLE_CUSTOMIZATION_ID_PLL=
APP_ENVIRONMENT=development
ARGYLE_API_URL=https://api-sandbox.argyle.io/v1
